.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 10em;
    position: absolute;
    bottom: 0;
    height: 50px;
    margin-top:auto;
    background-color: whitesmoke !important;
    left: 0;
    text-align: center;
    white-space: normal;
    box-sizing: border-box;
    width: 100%;
  }